[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pytest-bdd = "*"
python-dotenv = "*"
fastapi = "*"
pytest = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
