[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
python-dotenv = "*"
pydantic = {extras = ["emaiil"], version = "*"}
fastapi = "*"
requests = "*"
uvicorn = "*"
email-validator = "*"
pytest = "*"
webdriver-manager = "*"
selenium = "*"
passlib = "*"
pytest-bdd = "*"

[dev-packages]

[requires]
python_version = "3.10"
